.result-search

  &__wrapper
    width: 860px
    margin: 0 auto
    border 1px solid color3
    border-radius 5px

  &__table
    width: 100%
    text-align: left

    tr + tr
      border-top: 1px solid color3

  &__thead
    border-bottom: 1px solid color3
    color: color2

  &__cell
    height: 40px
    padding: 3px 10px
    vertical-align: middle

    &_1
      width: 200px

    &_2
      width: 140px

    &_3
      width: 90px

    &_5
      width: 70px


  &__dark
    color: color2

  &__center
    text-align: center

  &__tfoot
    border-top: 1px solid color3

  &__page-number
    width: 30px
    border none
    text-align: right
    color: color4
    outline: none
    background: none

  &__justify
    display: flex
    justify-content: space-between
    align-items: center
