.button-arrow
  border 1px solid color3
  padding: 5px 12px
  outline: none
  cursor: pointer
  background: none

  &:disabled
  &:disabled:active
    .icon-arrow
      fill color3

  &:active
    .icon-arrow
      fill color4

  .icon-arrow
    fill color2