@import "reset.styl"
@import "mixins.styl"
@import "valiables.styl"

*
  box-sizing: border-box

html
  font: 14px 'Roboto', sans-serif;
  color: color4
  background-color: color1

input
  font: 14px 'Roboto', sans-serif;

a
  text-decoration: none
  color: color4

  &:hover
  &:visited
  &:focus
  &:active
    text-decoration: none
    color: color4


@import "../components/**/*.styl"