.search
  margin: 20px 0
  font-size: 0
  white-space: nowrap

  &__wrapper
    display: inline-flex
    align-items: center
    height: 40px
    width: 85%
    border 1px solid color3
    border-radius 5px 0 0 5px
    padding-left: 20px
    vertical-align: middle

  &__table
    display: table
    width: 100%



  &__text
    display: table-cell
    width: 100px
    padding-top: 1px
    vertical-align: middle
    font-size: 14px

  &__button
  &__input
    height: 40px
    border 1px solid color3
    vertical-align: middle
    font-size: 14px
    outline: none
    cursor: pointer
    color: color4
    background: none

  &__input
    display: table-cell
    width: 100%
    height: auto
    border none
    padding: 0 5px

  &__button
    width: 15%
    //min-width: 60px
    border-radius 0 5px 5px 0
    background: color3



